
.row {
    margin-left: 0;
    margin-right: 0;
}

.glyphicon {
    font-size: 14px;
}

.tab{
    margin-left: 2.5em;
}

p{
    margin-left: 0.2em;
}

.textalign{
    text-align: center;
}
.square {
    height: 150px;
    width: 100%;
}
